# Server
PORT=3001
NODE_ENV=development

# Database (PostgreSQL)
DATABASE_URL=postgresql://user:password@localhost:5432/natureplus

# Session
SESSION_SECRET=your-secret-key

# Genius Pay (Sandbox)
GENIUS_PUBLIC_KEY=sk_sandbox_XXXXX
GENIUS_SECRET_KEY=ss_sandbox_XXXXX
WEBHOOK_SECRET=whsec_XXXXX

# Services URLs (pour Render)
PAYMENT_SERVICE_URL=http://localhost:3002
CLIENT_SERVICE_URL=http://localhost:3001
